html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.cursor {
  cursor: default;
}

.flex {
  display: flex;
}

.jc {
  justify-content: center;
}

.jb {
  justify-content: space-between;
}

.je {
  justify-content: space-evenly;
}

.ja {
  justify-content: space-around;
}

.ac {
  align-items: center;
}

.as {
  align-items: flex-start;
}

.ae {
  align-items: flex-end;
}

.pointer {
  cursor: pointer;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}